<% var data = {
  title: "Bilim"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<!--Start app-->
<div class="app" id="app">

    <!--Start main-->
    <section class="main position-relative section" data-section-number="0">

            <!--Start slider-->
            <div class="main-slider">

                <!--Start slide-->
                <div class="main-slide slide-1"></div>

                <!--End slide-->


                <!--Start slide-->
                <div class="main-slide slide-2"></div>

                <!--End slide-->

                <!--Start slide-->
                <div class="main-slide slide-3"></div>

                <!--End slide-->

                <!--Start slide-->
                <div class="main-slide slide-4"></div>

                <!--End slide-->

                <!--Start slide-->
                <div class="main-slide slide-5"></div>

                <!--End slide-->


                <h1 class="bilim-back slide-1">H</h1>
                <h1 class="bilim slide-1">H</h1>

                <h1 class="bilim-back slide-2">H</h1>
                <h1 class="bilim slide-2">H</h1>

                <h1 class="bilim-back slide-3">H</h1>
                <h1 class="bilim slide-3">H</h1>

                <h1 class="bilim-back slide-4">H</h1>
                <h1 class="bilim slide-4">H</h1>

                <h1 class="bilim-back slide-5">H</h1>
                <h1 class="bilim slide-5">H</h1>



                <div class="main-container">

                    <h3 class="main-big-text slide-1">BRANDING.</h3>
                    <h3 class="main-big-text slide-2">DIGITAL.</h3>
                    <h3 class="main-big-text slide-3">PR.</h3>
                    <h3 class="main-big-text slide-4">Marketing.</h3>
                    <h3 class="main-big-text slide-5">EVENT.</h3>

                    <p class="main__text">
                        Bilim agency – независимое агентство с комплексным <br>
                        подходом, базирующееся в Санкт-Петербурге.
                    </p>
                </div>

            </div>
            <!--End slider-->
        <!--Start scroll-->

        <div class="scroll-container">
            <div class="scroll-hr"></div>
            <p class="scroll-text">scroll</p>
        </div>

        <!--End scroll-->
    </section>
    <!--End main-->

    <!--Start who we-->
    <section class="who-we section" data-section-number="1">

        <!--Start wrapper-in-->
        <div class="wrapper-in">

            <!--Start who-we-container-->
            <div class="who-we-container">
                <h2 class="default-main who-we-main">
                    Кто мы
                </h2>

                <div class="who-we-container-right">
                    <p class="who-we-ping-text ping-text">
                        Уже более 10 лет мы создаем бренды и
                        различные инструменты коммуникации.
                    </p>

                    <p class="default-text">
                        Мы работаем с брендами, которые находятся в самом начале пути.
                        Наша команда помогает создать фирменный стиль, разработать позиционирование,
                        выявить индивидуальность и конкурентные преимущества новой компании.
                        Словом, осознать, кто они, как живут и чем дышат.
                    </p>

                    <p class="default-text">
                        Но на этом наша миссия не заканчивается: мы ведем бренд до воплощения идеи в жизнь – в интернете и в мире.
                    </p>

                </div>

            </div>
            <!--End who-we-container-->

        </div>
        <!--End wrapper-in-->

        <!--Start running-line-->
        <div class="running-line">
            <p class="running-line-text">думаем, паланируем, создаем, запускаем,</p>
            <p class="running-line-text">думаем, паланируем, создаем, запускаем,</p>
            <p class="running-line-text">думаем, паланируем, создаем, запускаем,</p>
            <p class="running-line-text">думаем, паланируем, создаем, запускаем,</p>
        </div>
        <!--End running-line-->

    </section>
    <!--End who we-->

    <!--Start who we-->
    <section class="services position-relative section">

        <div class="wrapper-in">
            <h2 class="default-main services-main">
                Услуги
            </h2>
        </div>

        <div class="wrapper-in position-relative">
            <div class="text-slider">
                <div class="text-slider-item">
                    /Internet Marketing
                </div>

                <div class="text-slider-item">
                    /PR
                </div>

                <div class="text-slider-item">
                    /Branding
                </div>

                <div class="text-slider-item">
                    /Production
                </div>

                <div class="text-slider-item">
                    /Сontent Marketingn
                </div>

                <div class="text-slider-item">
                    /Digital
                </div>

                <div class="text-slider-item">
                    /Перевод текстов
                </div>

                <div class="text-slider-item">
                    /ATL
                </div>

                <div class="text-slider-item">
                    /BTL
                </div>

                <div class="text-slider-item">
                    /EVENT
                </div>
            </div>
        </div>

        <div class="service-slider">
            <div class="service-slider-item position-relative slide-1">
                <h2 class="service-slider-item-main">
                    Internet Marketing
                </h2>

                <p class="service-slider-item-description default-text">
                    Мы поможем вам разобраться в многообразии современных инструментов продвижения,
                    таких как поисковая оптимизация (SEO), контекстная и таргетированная реклама,
                    email-маркетинг, маркетинг в социальных сетях (SMM), поведенческая баннерная
                    реклама и многих других. 
                </p>

                <div class="services-slide-number">01</div>

                <img src="img/services-slider/1.png" alt="seo" class="service-slider-item-img">
            </div>

            <div class="service-slider-item position-relative slide-2">
                <h2 class="service-slider-item-main">
                    pr
                </h2>

                <p class="service-slider-item-description default-text">
                    Мы возьмем на себя комплексное PR-сопровождение вашего бизнеса и функции внешней пресс-службы,
                    а также готовы оказывать отдельные PR-услуги.
                </p>

                <p class="default-text">
                    Начиная работать с брендом, мы проводим глубокий анализ деятельности компании и выявляем
                    ее наиболее актуальные потребности. Впоследствии составляем план PR-деятельности
                    – и приступаем к его реализации!
                </p>

                <div class="services-slide-number">02</div>

                <img src="img/services-slider/2.png" alt="pr" class="service-slider-item-img">
            </div>

            <div class="service-slider-item position-relative slide-3">
                <h2 class="service-slider-item-main">
                    Branding
                </h2>

                <p class="service-slider-item-description default-text">
                    Залог успеха любого бренда — продуманная стратегия,
                    ведь именно она лежит в основе всех ваших коммуникаций.
                    Создание стратегии начинается с рассмотрения основных ценностей,
                    преимуществ, индивидуальности и сущности бренда. 
                </p>

                <p class="default-text">
                    Мы будем с вашим брендом с самого начала пути: от разработки нейминга,
                    логотипа, слогана, маркетинговых материалов и упаковки до представления
                    бренда в онлайн и офлайн.
                </p>

                <div class="services-slide-number">03</div>

                <img src="img/services-slider/3.png" alt="Branding" class="service-slider-item-img">
            </div>

            <div class="service-slider-item position-relative slide-4">
                <h2 class="service-slider-item-main">
                    Production
                </h2>

                <p class="service-slider-item-description default-text">
                    Рекламные и вирусные ролики, корпоративные фильмы,
                    анимационные ролики, видеопрезентации, фотосессии.
                    Создаем как информационные материалы, создаем так
                    и яркие креативные работы – в зависимости от бизнес-задач клиента.
                </p>

                <p class="default-text">
                    Наша команда опытных продюсеров, сценаристов, режиссеров, редакторов,
                    дизайнеров, ЗD-художников и фотографов поможет представить ваш продукт
                    или компанию в лучшем свете!
                </p>

                <div class="services-slide-number">04</div>

                <img src="img/services-slider/4.png" alt="Production" class="service-slider-item-img">
            </div>

            <div class="service-slider-item position-relative slide-5">
                <h2 class="service-slider-item-main">
                    Сontent Marketing
                </h2>

                <p class="service-slider-item-description default-text">
                    Мы создаем релевантный и вовлекающий контент, соответствуя
                    требованиям современного интернет-маркетинга. Наш подход —
                    это детальная проработка содержания: грамотные тексты,
                    гармоничный визуальный дизайн, качественное видео- и фотоматериалы.

                </p>

                <div class="services-slide-number">05</div>

                <img src="img/services-slider/5.png" alt="Сontent Marketing" class="service-slider-item-img">
            </div>

            <div class="service-slider-item position-relative slide-6">
                <h2 class="service-slider-item-main">
                    Digital
                </h2>

                <p class="service-slider-item-description default-text">
                    От лендингов и корпоративных сайтов до сайтов электронной коммерции и порталов с серьезным функционалом.
                </p>

                <p class="service-slider-item-description default-text">
                    Все сайты в нашем портфолио имеют уникальный дизайн и создавались без
                    использования шаблонов. Помимо дизайна уделяем внимание и юзабилити —
                    хороший сайт должен быть не только красивым, но и удобным.
                </p>

                <div class="services-slide-number">06</div>

                <img src="img/services-slider/6.png" alt="Digital" class="service-slider-item-img">
            </div>

            <div class="service-slider-item position-relative slide-7">
                <h2 class="service-slider-item-main">
                    Перевод текстов
                </h2>

                <p class="service-slider-item-description default-text">
                    В нашем агентстве работают профессиональные переводчики, помогающие
                    нам создавать качественный контент на разных языках мира.
                    Мы справимся с любыми задачами – от изготовления рекламной
                    листовки или баннера на английском до разработки большого многоязычного портала.
                </p>

                <div class="services-slide-number">07</div>

                <img src="img/services-slider/7.png" alt="Перевод текстов" class="service-slider-item-img">
            </div>

            <div class="service-slider-item position-relative slide-8">
                <h2 class="service-slider-item-main">
                    ATL
                </h2>

                <p class="service-slider-item-description default-text">
                    Мы разместим вашу рекламу в любом сегменте: телевидение,
                    радио, пресса, OOH (outdoor, indoor, транспорт).
                    Благодаря широкому охвату аудитории традиционные рекламные
                    носители по-прежнему остаются эффективными и востребованными
                    у целевой аудитории. Мы подготовим медиапланы и 
                    изготовим рекламную продукцию для размещения.
                </p>

                <div class="services-slide-number">08</div>

                <img src="img/services-slider/8.png" alt="ATL" class="service-slider-item-img">
            </div>

            <div class="service-slider-item position-relative slide-9">
                <h2 class="service-slider-item-main">
                    bTL
                </h2>

                <p class="service-slider-item-description default-text">
                    Мы содействуем стимулированию продаж и помогаем нашим клиентам максимально
                    приблизиться к потребителю, используя инструменты BTL. Организуем промо-акции,
                    оформляем места продаж, распространяем промо-материалы. Собственное производство
                    позволяет нам изготавливать полиграфическую и сувенирную продукцию в оптимальные сроки.
                </p>

                <div class="services-slide-number">09</div>

                <img src="img/services-slider/9.png" alt="bTL" class="service-slider-item-img">
            </div>

            <div class="service-slider-item position-relative slide-10">
                <h2 class="service-slider-item-main">
                    EVENT
                </h2>

                <p class="service-slider-item-description default-text">
                    Событийный маркетинг – неотъемлемая часть комплексного продвижения бренда.
                    Мы готовы взять на себя организацию любого мероприятия для вашего бизнеса,
                    будь то семинар, деловой завтрак или презентация. Мы устраиваем яркие и
                    запоминающиеся корпоративные праздники, проводим брифинги и пресс-конференции,
                    организуем участие клиента в отраслевых мероприятиях.
                </p>

                <div class="services-slide-number">10</div>

                <img src="img/services-slider/10.png" alt="EVENT" class="service-slider-item-img">
            </div>
        </div>


    </section>
    <!--End services-->

    <!--Start Portfolio-->
    <section class="portfolio section">
        <div class="wrapper-in">
            <h2 class="default-main services-main">
                Портфолио
            </h2>

            <div class="portfolio-slider">
                <img src="" alt="" class="portfolio-slider-img">

                <h2 class="portfolio-slider-main">
                    <span>Greg</span>ory& ann
                </h2>

                <p class="portfolio-description">Branding: Разработка логоипа и фирменного стиля для компании «Gregory&Ann».</p>
            </div>
        </div>
    </section>
    <!--End Portfolio-->

    <!--Start dots-->
    <div class="dots">
            <div class="wrapper h-100 position-relative">
                <ul class="dots-list"></ul>
            </div>
        </div>
    <!--End dots-->

</div>
<!--End app-->

<%= _.template(require('./../includes/footer.html').default)(data) %>