<% var data = {
  title: "Bilim | Портфолио"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="app" id="app">
  <!--start main-->
  <main class="portfolio-main-section">

    <div class="portfolio-main-section-container">
      <h1 class="default-page-main">
        Портфолио
      </h1>
      <p class="default-page-description portfolio-page-main-description">
        Для некоторых клиентов мы являемся «собственной» командой маркетинга,
        для других – помощниками-консультантами, для третьих
        – подрядчиками по самым разным направлениям.
      </p>
    </div>
  </main>
  <!--end main-->

  <section class="portfolio-cards">
    <div class="wrapper-in">
      <div class="portfolio-cards-container">
        <a href="portfolio-card.html" class="portfolio-card">

          <div class="portfolio-img-container">
            <img src="img/portfolio/1.jpg" alt="" class="portfolio-card-img">
          </div>

          <h2 class="portfolio-card-main">
            Gregory&ann
          </h2>
          <p class="portfolio-card-description">
            <span>Branding:</span> Разработка логоипа и фирменного
            стиля для компании «Gregory&Ann».
          </p>
        </a>

        <a href="#" class="portfolio-card">
          <div class="portfolio-img-container">
            <img src="img/portfolio/2.jpg" alt="" class="portfolio-card-img">
          </div>

          <h2 class="portfolio-card-main">
            Gregory&ann
          </h2>
          <p class="portfolio-card-description">
            <span>Branding:</span> Разработка логоипа и фирменного
            стиля для компании «Gregory&Ann».
          </p>
        </a>

        <a href="#" class="portfolio-card">
          <div class="portfolio-img-container">
            <img src="img/portfolio/4.jpg" alt="" class="portfolio-card-img">
          </div>

          <h2 class="portfolio-card-main">
            Gregory&ann
          </h2>
          <p class="portfolio-card-description">
            <span>Branding:</span> Разработка логоипа и фирменного
            стиля для компании «Gregory&Ann».
          </p>
        </a>

        <a href="#" class="portfolio-card">

          <div class="portfolio-img-container">
            <img src="img/portfolio/5.jpg" alt="" class="portfolio-card-img">
          </div>

          <h2 class="portfolio-card-main">
            Gregory&ann
          </h2>
          <p class="portfolio-card-description">
            <span>Branding:</span> Разработка логоипа и фирменного
            стиля для компании «Gregory&Ann».
          </p>
        </a>

        <a href="#" class="portfolio-card">
          <div class="portfolio-img-container">
            <img src="img/portfolio/6.jpg" alt="" class="portfolio-card-img">
          </div>

          <h2 class="portfolio-card-main">
            Gregory&ann
          </h2>
          <p class="portfolio-card-description">
            <span>Branding:</span> Разработка логоипа и фирменного
            стиля для компании «Gregory&Ann».
          </p>
        </a>

        <a href="#" class="portfolio-card">
          <div class="portfolio-img-container">
            <img src="img/portfolio/7.jpg" alt="" class="portfolio-card-img">
          </div>

          <h2 class="portfolio-card-main">
            Gregory&ann
          </h2>
          <p class="portfolio-card-description">
            <span>Branding:</span> Разработка логоипа и фирменного
            стиля для компании «Gregory&Ann».
          </p>
        </a>

        <a href="#" class="portfolio-card">

          <div class="portfolio-img-container">
            <img src="img/portfolio/8.jpg" alt="" class="portfolio-card-img">
          </div>

          <h2 class="portfolio-card-main">
            Gregory&ann
          </h2>
          <p class="portfolio-card-description">
            <span>Branding:</span> Разработка логоипа и фирменного
            стиля для компании «Gregory&Ann».
          </p>
        </a>

        <a href="#" class="portfolio-card">
          <div class="portfolio-img-container">
            <img src="img/portfolio/9.jpg" alt="" class="portfolio-card-img">
          </div>

          <h2 class="portfolio-card-main">
            Gregory&ann
          </h2>
          <p class="portfolio-card-description">
            <span>Branding:</span> Разработка логоипа и фирменного
            стиля для компании «Gregory&Ann».
          </p>
        </a>

        <a href="#" class="portfolio-card">
          <div class="portfolio-img-container">
            <img src="img/portfolio/3.jpg" alt="" class="portfolio-card-img">
          </div>

          <h2 class="portfolio-card-main">
            Gregory&ann
          </h2>
          <p class="portfolio-card-description">
            <span>Branding:</span> Разработка логоипа и фирменного
            стиля для компании «Gregory&Ann».
          </p>
        </a>
      </div>

      <button class="portfolio-show-all-btn">
        Показать ещё
      </button>
    </div>
  </section>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>