<% var data = {
title: "Bilim | Карточка портфолио"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="app" id="app">
    <main class="portfolio-card-page" style="background: url(img/portfolio-card/bg.jpg) no-repeat center center / cover">
        <div class="portfolio-card-page-main-container-mask"></div>
        <div class="wrapper-in position-relative h-100">
            <div class="portfolio-card-page-main-container">
                <h1 class="portfolio-card-page-main">
                    In-time.
                </h1>
                <p class="portfolio-card-page-description">
                    <span>Branding:</span> Разработка логоипа и фирменного
                    стиля для логистической компании «IN-TIME»
                </p>
            </div>
        </div>
    </main>


    <section class="portfolio-card-tasks">
        <div class="wrapper-in">
            <div class="portfolio-card-tasks-container">
                <div class="portfolio-task-item">
                    <h2 class="portfolio-card-tasks-main default-main">
                        Задача
                    </h2>
                    <p class="portfolio-card-tasks-description default-text">
                        Перед нами стояла задача такая-то.
                        Краткое Описание задачи, трудности и пожелания заказчиков
                        Перед нами стояла задача такая-то. В 2-3 строчки.
                        <br>Что именно было сделано, перчислить
                    </p>
                </div>

                <div class="portfolio-task-item">
                    <h2 class="portfolio-card-tasks-main default-main">
                        РЕШЕНИЕ
                    </h2>
                    <h3 class="portfolio-card-tasks-submain ping-text">
                        Разработан фирменный стиль для логистической компании IN-TIME
                    </h3>
                    <p class="portfolio-card-tasks-description default-text">
                        Описание проделанной работы в пару предложений..
                        Описание проделанной работы в пару предложений..
                        Описание проделанной работы в пару предложений..
                        Описание проделанной работы в пару предложений..
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio-cards">
        <div class="wrapper-in">
            <div class="portfolio-cards-container">
                <a href="img/portfolio-card/1.jpg"  data-fancybox="gallery" class="portfolio-card fff">
                    <div  class="portfolio-img-container">
                        <img src="img/portfolio-card/1.jpg" alt="" class="portfolio-card-img">
                    </div>
                </a>

                <a href="img/portfolio-card/2.jpg"  data-fancybox="gallery" class="portfolio-card fff">
                    <div  class="portfolio-img-container">
                        <img src="img/portfolio-card/2.jpg" alt="" class="portfolio-card-img">
                    </div>
                </a>

                <a href="img/portfolio-card/3.jpg"  data-fancybox="gallery" class="portfolio-card fff">
                    <div  class="portfolio-img-container">
                        <img src="img/portfolio-card/3.jpg" alt="" class="portfolio-card-img">
                    </div>
                </a>

                <a href="img/portfolio-card/1.jpg"  data-fancybox="gallery" class="portfolio-card fff">
                    <div  class="portfolio-img-container">
                        <img src="img/portfolio-card/1.jpg" alt="" class="portfolio-card-img">
                    </div>
                </a>

                <a href="img/portfolio-card/2.jpg"  data-fancybox="gallery" class="portfolio-card fff">
                    <div  class="portfolio-img-container">
                        <img src="img/portfolio-card/2.jpg" alt="" class="portfolio-card-img">
                    </div>
                </a>

                <a href="img/portfolio-card/3.jpg"  data-fancybox="gallery" class="portfolio-card fff">
                    <div  class="portfolio-img-container">
                        <img src="img/portfolio-card/3.jpg" alt="" class="portfolio-card-img">
                    </div>
                </a>
            </div>
        </div>
    </section>

    <!--Start Portfolio-->
    <section class="portfolio portfolio-page-slider">

        <!--Start wrapper-in-->
        <div class="wrapper-in">

            <h2 class="default-main services-main">
                Ещё работы
            </h2>

        </div>
        <!--End wrapper-in-->

        <div class="portfolio-slider default-slider">
            <div class="portfolio-slide default-slide">
                <div class="default-slide-container">
                    <img src="img/portfolio-slider/1.png" alt="" class="portfolio-slider-img">

                    <h2 class="portfolio-slider-main">
                        <span>Greg</span>ory& ann
                    </h2>

                    <p class="portfolio-description">
                        <span>Branding:</span> Разработка логоипа и фирменного стиля для компании «Gregory&Ann».
                    </p>
                </div>
            </div>

            <div class="portfolio-slide default-slide">
                <div class="default-slide-container">
                    <img src="img/portfolio-slider/1.png" alt="" class="portfolio-slider-img">

                    <h2 class="portfolio-slider-main">
                        <span>Greg</span>ory& ann
                    </h2>

                    <p class="portfolio-description">
                        <span>Branding:</span> Разработка логоипа и фирменного стиля для компании «Gregory&Ann».
                    </p>
                </div>
            </div>

            <div class="portfolio-slide default-slide">
                <div class="default-slide-container">
                    <img src="img/portfolio-slider/1.png" alt="" class="portfolio-slider-img">

                    <p class="portfolio-description">
                        <span>Branding:</span> Разработка логоипа и фирменного стиля для компании «Gregory&Ann».
                    </p>
                </div>

                <h2 class="portfolio-slider-main">
                    <span>Greg</span>ory& ann
                </h2>
            </div>

            <div class="portfolio-slide default-slide">
                <div class="default-slide-container">
                    <img src="img/portfolio-slider/1.png" alt="" class="portfolio-slider-img">

                    <p class="portfolio-description">
                        <span>Branding:</span> Разработка логоипа и фирменного стиля для компании «Gregory&Ann».
                    </p>
                </div>

                <h2 class="portfolio-slider-main">
                    <span>Greg</span>ory& ann
                </h2>
            </div>
        </div>



    </section>
    <!--End Portfolio-->
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>