<% var data = {
title: "Bilim | Услуги"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="app" id="app">
    <main class="services-main-section">

        <div class="services-main-section-container">
            <h1 class="default-page-main">
                Услуги
            </h1>
            <p class="default-page-description portfolio-page-main-description">
                Мы помогаем компаниям продвигать бренды, советуем, как оставаться актуальными на
                постоянно развивающемся рынке и помогаем быть впереди своих конкурентов.
                Мы можем работать как ЗА вас, так и С вами — для одних клиентов мы
                являемся их командой маркетинга, для других – верными помощниками и инструментами реализации.
            </p>
        </div>

    </main>

    <div class="services-page-cards">
        <div class="wrapper-in">
            <div class="services-page-cards-container">
                <div class="services-page-card-item">
                    <h2 class="services-page-card-item-main">
                        Internet Marketing
                    </h2>
                    <p class="services-page-card-item-description default-text">
                        Мы поможем вам разобраться в многообразии современных инструментов продвижения,
                        таких как поисковая оптимизация (SEO), контекстная и таргетированная реклама,
                        email-маркетинг, маркетинг в социальных сетях (SMM),
                        поведенческая баннерная реклама и многих других. 
                    </p>
                    <img src="img/services-slider/1.png" alt="" class="services-page-card-item-img">
                </div>

                <div class="services-page-card-item">
                    <h2 class="services-page-card-item-main short">
                        pr
                    </h2>
                    <p class="services-page-card-item-description default-text">
                        Мы возьмем на себя комплексное PR-сопровождение вашего бизнеса и функции внешней пресс-службы,
                        а также готовы оказывать отдельные PR-услуги.
                        <br><br>
                        Начиная работать с брендом, мы проводим глубокий анализ деятельности компании
                        и выявляем ее наиболее актуальные потребности. Впоследствии составляем план
                        PR-деятельности – и приступаем к его реализации!
                    </p>
                    <img src="img/services-slider/2.png" alt="" class="services-page-card-item-img">
                </div>

                <div class="services-page-card-item">
                    <h2 class="services-page-card-item-main">
                        Branding
                    </h2>
                    <p class="services-page-card-item-description default-text">
                        Залог успеха любого бренда — продуманная стратегия, ведь именно она лежит в основе всех ваших коммуникаций.
                        Создание стратегии начинается с рассмотрения основных ценностей,
                        преимуществ, индивидуальности и сущности бренда.  <br><br>
                        Мы будем с вашим брендом с самого начала пути: от разработки нейминга,
                        логотипа, слогана, маркетинговых материалов и
                         упаковки до представления бренда в онлайн и офлайн.
                    </p>
                    <img src="img/services-slider/3.png" alt="" class="services-page-card-item-img">
                </div>

                <div class="services-page-card-item">
                    <h2 class="services-page-card-item-main">
                        Production
                    </h2>
                    <p class="services-page-card-item-description default-text">
                        Рекламные и вирусные ролики, корпоративные фильмы, анимационные ролики, видеопрезентации, фотосессии.
                        Создаем как информационные материалы, создаем так и яркие креативные работы
                        – в зависимости от бизнес-задач клиента.
                        Наша команда опытных продюсеров, сценаристов, режиссеров,
                        редакторов, дизайнеров, ЗD-художников и фотографов поможет
                        представить ваш продукт или компанию в лучшем свете!.
                    </p>
                    <img src="img/services-slider/4.png" alt="" class="services-page-card-item-img">
                </div>

                <div class="services-page-card-item">
                    <h2 class="services-page-card-item-main">
                        Сontent Marketing
                    </h2>
                    <p class="services-page-card-item-description default-text">
                        Мы создаем релевантный и вовлекающий контент, соответствуя требованиям
                        современного интернет-маркетинга. Наш подход — это детальная проработка
                        содержания: грамотные тексты, гармоничный визуальный дизайн,
                        качественное видео- и фотоматериалы.
                    </p>
                    <img src="img/services-slider/5.png" alt="" class="services-page-card-item-img">
                </div>

                <div class="services-page-card-item">
                    <h2 class="services-page-card-item-main short">
                        Digital
                    </h2>
                    <p class="services-page-card-item-description default-text">
                        От лендингов и корпоративных сайтов до сайтов электронной коммерции и порталов с серьезным функционалом.
                        <br><br>
                        Все сайты в нашем портфолио имеют уникальный дизайн и создавались
                        без использования шаблонов. Помимо дизайна уделяем внимание и юзабилити —
                        хороший сайт должен быть не только красивым, но и удобным.
                    </p>
                    <img src="img/services-slider/6.png" alt="" class="services-page-card-item-img">
                </div>

                <div class="services-page-card-item">
                    <h2 class="services-page-card-item-main">
                        Перевод текстов
                    </h2>
                    <p class="services-page-card-item-description default-text">
                        В нашем агентстве работают профессиональные переводчики,
                        помогающие нам создавать качественный контент на разных
                        языках мира. Мы справимся с любыми задачами – от изготовления
                        рекламной листовки или баннера на английском до разработки
                        большого многоязычного портала.
                    </p>
                        <img src="img/services-slider/7.png" alt="" class="services-page-card-item-img">
                </div>

                <div class="services-page-card-item">
                    <h2 class="services-page-card-item-main short">
                        ATL
                    </h2>
                    <p class="services-page-card-item-description default-text">
                        Мы разместим вашу рекламу в любом сегменте: телевидение,
                        радио, пресса, OOH (outdoor, indoor, транспорт).
                        Благодаря широкому охвату аудитории традиционные
                        рекламные носители по-прежнему остаются эффективными
                        и востребованными у целевой аудитории.
                        Мы подготовим медиапланы и изготовим рекламную продукцию для размещения.
                    </p>
                    <img src="img/services-slider/8.png" alt="" class="services-page-card-item-img">
                </div>

                <div class="services-page-card-item">
                <h2 class="services-page-card-item-main">
                    BTL
                </h2>
                <p class="services-page-card-item-description default-text">
                    Мы содействуем стимулированию продаж и помогаем нашим
                    клиентам максимально приблизиться к потребителю,
                    используя инструменты BTL. Организуем промо-акции,
                    оформляем места продаж, распространяем промо-материалы.
                    Собственное производство позволяет нам изготавливать
                    полиграфическую и сувенирную продукцию в оптимальные сроки.
                </p>
                <img src="img/services-slider/9.png" alt="" class="services-page-card-item-img">
            </div>

                <div class="services-page-card-item">
                    <h2 class="services-page-card-item-main short">
                        EVENT
                    </h2>
                    <p class="services-page-card-item-description default-text">
                        Событийный маркетинг – неотъемлемая часть комплексного продвижения бренда.
                        Мы готовы взять на себя организацию любого мероприятия для вашего бизнеса,
                        будь то семинар, деловой завтрак или презентация. Мы устраиваем яркие и
                        запоминающиеся корпоративные праздники, проводим брифинги и пресс-конференции,
                        организуем участие клиента в отраслевых мероприятиях.
                    </p>
                    <img src="img/services-slider/10.png" alt="" class="services-page-card-item-img">
                </div>
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>