@import "vars";
body {
  overflow: hidden;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  position: relative;
  z-index: 5001;
  align-items: center;
}
.logo {
  width: 97.4px;
}
.whopper {
  width: 50px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  pointer-events: auto;
  transition: .7s;
  //open Menu
  span {
    transition: .7s;
  }
  &.active {
    width: 50px;
    height: 36px;

    // First line
    span:nth-child(1) {
      transform: rotate(45deg);
      transform-origin: left top;
      width: 50px;
    }

    // Second line
    span:nth-child(2) {
      width: 0;
    }

    // Three line
    span:nth-child(3) {
      transform: rotate(-45deg);
      transform-origin: left bottom;
      width: 50px;
    }
  }
}
.whopper-hr {
  display: block;
  background: #D6D6D6;
  width: 100%;
  height: 2px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5001;
  pointer-events: none;
}
.menu {
  pointer-events: auto;
  z-index: 5000;
  background: #151515;;
  width: 100vw;
  height: 100vh;
  margin-top: -100vh;
  position: absolute;
  left: 0;
  top: 0;
}
.logo-link {
  pointer-events: auto;
}

.menu-list-li {
  list-style: none;
  margin-bottom: 5.31vh;
  @media screen and (min-width: 1024px) and  (max-width: 1300px) {
    margin-bottom: 0;
  }
  @media screen  and (min-width: 768px) and  (max-width: 1024px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 500px)  and  (max-width: 768px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 0)  and  (max-width: 500px) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  a {
    font-family: $proxima;
    font-weight: 900;
    font-size: 110px;
    -webkit-text-stroke: 2px #545454;
    text-decoration: none;
    text-transform: uppercase;
    transition: .7s;
    color:  #151515;

    @media screen and (min-width: 1024px) and (max-width: 1300px) {
      font-size: 100px;
      line-height: normal;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      font-size: 70px;
      line-height: normal;
    }
    @media screen and (min-width: 500px) and (max-width: 768px) {
      font-size: 44px;
      line-height: normal;
    }
    @media screen and (min-width: 0) and (max-width: 500px) {
      font-size: 40px;
      line-height: normal;
      -webkit-text-stroke: 1px #545454
    }

    &:hover {
      -webkit-text-stroke: 2px #E61B6A;
      text-shadow: 0px 0px 15px #FF0063;
    }
  }
}
.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @media screen and  (max-width: 1300px) {
    flex-direction: column;
    align-items: normal;
    justify-content: center;
  }
}

.menu-social-list li {
  list-style: none;
  margin-bottom: 117px;
  @media screen and (min-width: 1300px) and (max-width: 1600px){
    margin-bottom: 80px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1300px){
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 500px) and (max-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 0) and (max-width: 500px) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.social-text {
  font-family: $proxima;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.33rem;
  color: #F5F5F5;
}

.social-text-link {
  color: #F5F5F5;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 30px;
  font-weight: 300;
  font-family: $openSans;
  margin-top: .6rem;
  display: block;
  transition: .7s;
  &:hover {
    color: #E61B6A;
  }
  @media screen and (max-width: 500px) {
    margin-top: 0;
    font-size: 10px;
  }
}

.menu-social-list {
  @media screen  and (min-width: 1024px) and (max-width: 1300px) {
    margin-left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 60px;
  }
  @media screen and (min-width: 768px)  and (max-width: 1024px) {
    margin-left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
  }
  @media screen  and (max-width: 768px) {
    margin-left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
  }
  @media screen  and (max-width: 500px) {
    margin-left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
  }
  @media screen and (max-width: 360px) {
    margin-left: 0;
    margin-top: 15px;
  }
}

.social-icons {
  margin-left: -30px;
  margin-top: .6rem;
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    margin-left: -20px
  }
  @media screen and (min-width: 0) and (max-width: 768px) {
    margin-left: -12px;
  }

  a {
    margin-left: 30px;
    text-decoration: none;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      margin-left: 20px;
    }
    @media screen and (min-width: 0) and (max-width: 768px) {
      margin-left: 12px;
    }
  }
}

.social-icon {
  display: inline-block;
  //instagram
  &.instagram {
    width: 30px;
    height: 30px;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      width: 26px;
      height: 26px;
    }
    @media screen and (min-width: 0) and (max-width: 768px) {
      width: 20px;
      height: 20px;
    }
  }
  //facebook
  &.facebook {
    width: 16px;
    height: 30px;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      width: 14px;
      height: 26px;
    }
    @media screen and (min-width: 0) and (max-width: 768px) {
      width: 10px;
      height: 20px;
    }
  }
  //skype
  &.skype {
    width: 30px;
    height: 30px;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      width: 26px;
      height: 26px;
    }
    @media screen and (min-width: 0) and (max-width: 768px) {
      width: 20px;
      height: 20px;
    }
  }
  //telegram
  &.telegram {
    width: 35px;
    height: 30px;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      width: 30px;
      height: 26px;
    }
    @media screen and (min-width: 0) and (max-width: 768px) {
      width: 23px;
      height: 20px;
    }
  }
  &.whatsapp {
    width: 30px;
    height: 30px;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      width: 26px;
      height: 26px;
    }
    @media screen and (min-width: 0) and (max-width: 768px) {
      width: 20px;
      height: 20px;
    }
  }
}

.social-icon path {
  transition: .7s;
  fill: #F5F5F5;
}

.social-icon:hover path  {
  fill: #E61B6A;
}

